# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Generated plots
*.png
*.jpg
*.jpeg
*.svg

# Virtual environments
venv/
env/
.env/

# IDE files
.vscode/
.idea/
